<div class="">

    <mat-card class="pin" fxFlex="230px">

        <div style="margin-left: 90%;">
          <img src="{{unpinSvg}}" (click)="updateNotes(note,status,'pin')">
        </div>

        <mat-card-header>
            <!-- {{note.title}} -->
          <div [innerHTML]="note.title"></div>
        </mat-card-header>

        <mat-card-content>
          <!-- {{note.description}} -->
          <div [innerHTML]="note.description"></div>
        </mat-card-content>

      </mat-card>
      
</div>