<div class="class-container" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1000px" fxLayoutGap="30px">
      <div *ngFor="let note of notes">
        <div *ngIf="note.inTrash===false && note.isPin===false && note.isArchive===false">
          <!-- <note-details [note]="note" *ngFor="let note of notes"></note-details> -->
          <mat-card [style.background]="note.color" class="mat-card">
  
            <div style="margin-left:90%;">
              <img src="/assets/icons/pin.svg" (click)="updateNotes(note,'true','pin')">
            </div>
  
            <mat-card-header>
              <div [innerHTML]="note.title"></div>
            </mat-card-header>
  
            <mat-card-subtitle>
              <div [innerHTML]="note.description"></div>
            </mat-card-subtitle>

            <div *ngIf="note.reminder!=null">
                <div mat-menu-item fxLayout="row">
                    <mat-chip-list>
                          <mat-chip color="primary" selected="true" class="matchip">
                              <mat-icon style="color: #fafafa;">schedule</mat-icon>
                              <label>{{note.reminder|date:'MMM dd,y, hh:mm a'}}</label>
                          </mat-chip>
                    </mat-chip-list>
                  </div>
            <div>
  
             </div>
            </div>
  
            <!-- All buttons row Wrap -->
            <div fxLayout="row wrap">
  
              <!-- Reminder Div -->
              <div>
                <button mat-icon-button [matMenuTriggerFor]="remind">
                  <img src="/assets/icons/reminder.svg">
                </button>
  
                <mat-menu #remind="matMenu">
                  <div>
                    <button type="submit" mat-menu-item>
                      <b>Reminder:</b>
                    </button>
                  </div>
  
                  <button type="submit" mat-menu-item>
                      <div *ngFor="let note of notes">
                          <div style="user-select: none;text-align: left;" (click)="saveReminder(note,'today')">
                            <span> Later today &nbsp;&nbsp;&nbsp;</span>
                             <span> 8:00 PM</span>
                          </div>
                      </div>
                  </button>
  
                  <button type="submit" mat-menu-item (click)="saveReminder(note,'tomorrow')">
                    <div style="user-select: none;text-align: left;">
                      <span>Tomorrow &nbsp;&nbsp;</span>
                      <span> &nbsp;&nbsp; 8:00 PM</span>
                    </div>
                  </button>
  
                  <button type="submit" mat-menu-item (click)="saveReminder(note,'nextWeek')">
                    <div style="user-select: none;text-align: left;">
                      <span>Next week &nbsp;&nbsp;</span>
                      <span> &nbsp;&nbsp; Mon,8:00 AM</span>
                    </div>
                  </button>
  
                  <button type="submit" mat-menu-item (click)="saveReminder(note, 'pick')">
                    <mat-icon>schedule</mat-icon>
                    <span>Pick date and time</span>
                  </button>
  
                  <button type="submit" mat-menu-item>
                    <mat-icon>room</mat-icon>
                    <span>Pick place</span>
                  </button>
                </mat-menu>
              </div>
  
              <!-- Color Div -->
              <div>
                <button mat-icon-button [matMenuTriggerFor]="color">
                  <mat-icon>color_lens</mat-icon>
                  <!-- assets/icons/color.svg -->
                </button>
  
                <mat-menu #color="matMenu">
                  <div>
                    <a *ngFor="let color of colors">
                      <img src="{{color.path}}" (click)="note.color=color.color;updateNotes(note,'true','color')">
                    </a>
                  </div>
                </mat-menu>
              </div>
  
              <!-- Archive Div -->
              <div>
                <button mat-button type="submit" (click)="updateNotes(note,'true','archive')">
                  <mat-icon>archive</mat-icon>
                </button>
              </div>
  
              <!-- Delete Div -->
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
  
                <mat-menu #menu="matMenu">
                  <button type="submit" mat-menu-item (click)="updateNotes(note,'true','trash')">
                    <mat-icon>delete</mat-icon>
                    <span>Delete note</span>
                  </button>
  
                  <button type="submit" mat-menu-item (click)="addLabel()">
                    <mat-icon>label</mat-icon>
                    <span>Add Label</span>
                  </button>
                </mat-menu>
              </div>
  
            </div>
          </mat-card>
  
        </div>
      </div>
    </div>
  </div>