<div>
    <mat-toolbar class="toptoolbar">
        <h3 style="text-align:left; color: #ececf8">
            <i>Fundoo Notes</i>
        </h3>

        <div fxLayoutAlign="center center">

            <mat-card style="width: max-content;margin-top: 250%;">
               
                <h5 style="text-align:center; color: #223fe2">
                    <i>User Login</i>
                </h5>

                <form style="text-align:center" #loginForm="ngForm" (ngSubmit)="login()">

                    <div class="logincontainer">
                        <mat-form-field>
                            <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="model.email">
                        </mat-form-field>
                    </div>

                    <div class="logincontainer">
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password">
                        </mat-form-field>
                    </div>

                    <div class="logincontainer" style="text-align:left;">
                        <a href="/forgetpassword">forgot password?</a>
                    </div>

                    <br>

                    <div class="logincontainer" style="text-align:left;">
                        <a href="/register">register</a>
                    </div>

                    <div class="button-row">
                        <button mat-button color="primary">
                            <a href="/home"></a>Login</button>
                    </div>
                </form>

            </mat-card>
        </div>
    </mat-toolbar>
</div>