<div fxLayoutAlign="center center">
<!-- <h3 style="text-align:center"><i>User Login</i></h3> -->
<mat-card style="width: max-content;margin-top:5%;">
    <h3 style="text-align:center; color: blue"><i>User Login</i></h3>
  <form style="text-align:center">
    <div class="logincontainer">
      <mat-form-field>
          <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="email">
      </mat-form-field>
    </div>

    <div class="logincontainer"> 
      <mat-form-field>
          <input matInput placeholder="Password" type="password"  name="password" [(ngModel)]="password">
      </mat-form-field>
    </div>

    <div class="button-row">
            <button mat-button color="primary">Login</button>
        </div>
    </form> 
  </mat-card>
</div>