.card{
    width:41%;
    margin-top: 100px;
}

.divbox{
    margin-top: -10%;
    top: 20px;
}

.canedit {
    word-wrap: break-word;
    white-space: pre-wrap;
    outline: none;
      line-height: 20px;   
 } 

 .button{
    margin-left: 80%;
 }