<div fxLayoutAlign="center center">
  <mat-card class="card">
    <div contenteditable='true' class="canedit" (click)="show=!show">
      <span class="text">Take a note...</span>
    </div>

  </mat-card>
</div>

<div fxLayoutAlign="center center" *ngIf="show" class="divbox">

  <mat-card style="width: 41%;">

    <div contenteditable='true' data-text='Title' class="editable line-height" name="title" (input)="model.title=$event.target.innerHTML"></div>
    <div contenteditable='true' data-text='Take a note..' class="editable line-height" name="description" (input)="model.description=$event.target.innerHTML"></div>

    <mat-card-actions class="text">
      <button mat-button type="submit" class="button" (click)="createNote()">DONE</button>
    </mat-card-actions>
  </mat-card>

</div>

<div class="class-container" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1000px" fxLayoutGap="30px">
    <div *ngFor="let note of notes">
      <div *ngIf="note.inTrash===false">
        <!-- <note-details [note]="note" *ngFor="let note of notes"></note-details> -->
        <mat-card style="top:50px;">
          <div style="margin-left:90%;">
            <img src="/assets/icons/pin.svg" (click)="updateNotes(note,'true','pin')">
          </div>
          <mat-card-header>
            {{note.title}}
          </mat-card-header>

          <mat-card-subtitle>
            {{note.description}}
          </mat-card-subtitle>

          <div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button type="submit" mat-menu-item (click)="updateNotes(note,'true','trash')">
                  <mat-icon>delete</mat-icon>
                  <span>Delete note</span>
                </button>

                <button type="submit" mat-menu-item (click)="addLabel()">
                  <mat-icon>label</mat-icon>
                  <span>Add Label</span>
                </button>
              </mat-menu>
            </div>
          </div>

          <div>
            <button mat-button type="submit" (click)="updateNotes(note,'true','archive')">
              <mat-icon>archive</mat-icon>
            </button>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>